<form class="login-form">
    <mat-form-field class="full-width">
      <mat-label>Username</mat-label>
      <input matInput placeholder="Username" class="login-input" [(ngModel)]="username" (ngModelChange)="onUsernameChange()">
    </mat-form-field>
  
    <mat-form-field class="full-width">
        <mat-label>Password</mat-label>
        <input type="password" matInput placeholder="Password" class="login-input" [(ngModel)]="password" (ngModelChange)="onPasswordChange()">
    </mat-form-field>
</form>